body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: #f5f4f2;
  color: #111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
